/* general Styling for the project */
body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
    margin : 0;
    padding : 0;
}
/* header styling for the project */
header {
    background-color: #0265cb;  
    color : #fff;
    padding : 10px;
    text-align : center;
    font-size: 24px;
}
h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.content {
    max-width : 990px;
    margin : 0 auto;
}
/* section styling for the project */
section {
    background-color: #fff;
    padding : 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
/* biography section styling */
.biography {
    background-color: #fff;
    padding : 20px;
    border-radius: 5px;;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.biography h2 {
    font-size : 24px;
    margin-bottom: 10px;
}
.achievements {
    background-color: #fff;
    padding : 20px;
    border-radius: 5px;;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.achievements h2 {
    font-size : 24px;
    margin-bottom: 10px;
}
.achievements ul {
    list-style-type: disc;
    padding-left: 20px;
}
.achievements li {
    margin-bottom: 10px;
}

/* footer styling */
footer {
    background-color: #0265cb;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}
img{
    float: left;
    margin-right: 20px;
    height : 185.519px;
    position : relative;
    bottom : 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
}